[submodule "hdl-tools"]
	path = hdl-tools
	url = http://github.com/makestuff/hdl-tools.git
	branch = master
[submodule "pcie-driver"]
	path = pcie-driver
	url = http://github.com/makestuff/pcie-driver.git
	branch = master
[submodule "ip/altera-libs"]
	path = ip/altera-libs
	url = http://github.com/makestuff/altera-libs.git
	branch = master
[submodule "ip/block-ram"]
	path = ip/block-ram
	url = http://github.com/makestuff/block-ram.git
	branch = master
[submodule "ip/buffer-fifo"]
	path = ip/buffer-fifo
	url = http://github.com/makestuff/buffer-fifo.git
	branch = master
[submodule "ip/dvr-rng"]
	path = ip/dvr-rng
	url = http://github.com/makestuff/dvr-rng.git
	branch = master
[submodule "ip/pcie-hip"]
	path = ip/pcie-hip
	url = http://github.com/makestuff/pcie-hip.git
	branch = master
